/** styles/BgParallax.module.css */

.background {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: url('/shifumi.webp');
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-out;
  pointer-events: none;
  background-color: rgba(255, 0, 0, 0.5); /* Ajoutez une couleur de fond temporaire */
}